@{
	ViewData["Title"] = "Visualizar os Estacionamentos";
}

<div class="row">
	<div class="col-md-12">
		<table id="gridTable" data-toggle="table" data-side-pagination="server" data-pagination="true" data-page-size="25" data-show-refresh="true" data-show-columns="true" data-show-columns-toggle-all="true">
			<thead>
				<tr>
					<th data-field="Id">ID</th>
					<th data-field="Name">Nome</th>
					<th data-field="Address">Endereço</th>
					<th data-field="AddressNumber">Número</th>
					<th data-field="AddressComplement">Complemento</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<script>
	$(function () {
		$('#gridTable').bootstrapTable({
			columns: [{
				field: 'Id',
				title: 'ID'
			}, {
				field: 'Name',
				title: 'Nome'
			}, {
				field: 'Address',
				title: 'Endereço'
			}, {
				field: 'AddressNumber',
				title: 'Número'
			}, {
				field: 'AddressComplement',
				title: 'Complemento'
			}],
			ajax: function (params) {
				gridRequest(params);
			}
		});
	});

	function displayActionsColumn(show) {
	// Função para exibir/ocultar a coluna de ações
	}

	function showTooltips() {
	// Função para exibir tooltips
	}

	function gridRequest(params) {
		$.ajax({
			url: '@Url.Action("LoadGridListAsync")',
			type: "POST",
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			data: JSON.stringify({ gridDataParams: params.data }),
			success: function (result) {
				params.success({
					total: result.Total,
					rows: result.Rows
				});
				displayActionsColumn(result.ShowActionsColumn);
				showTooltips();
			},
			error: function (obj, e) {
				swal({
					title: 'Erro ao carregar os dados',
					text: 'Recarregar a página pode resolver o problema',
					type: "error",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Ok"
				});
			}
		});
	};
</script>