@{
	ViewData["Title"] = "Visualizar os Estacionamentos";
}

<div class="row">
	<div class="col-md-12">
		<table id="table">
			<thead>
				<tr>
					<th data-field="Id">ID</th>
					<th data-field="Name">Nome</th>
					<th data-field="Address">Endereço</th>
					<th data-field="AddressNumber">Número</th>
					<th data-field="AddressComplement">Complemento</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<script>
	function gridRequest(params) {
		$.ajax({
			url: '@Url.Action("LoadGridListAsync")',
			type: "POST",
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			data: '{gridDataParams:' + JSON.stringify(params.data) + '}',
			success: function (result) {
				params.success({
					total: result.Total,
					rows: result.Rows
				});
				displayActionsColumn(result.ShowActionsColumn);
				showTooltips();
			},
			error: function (obj, e) {
				swal({
					title: 'Erro ao carregar os dados',
					text: 'Recarregar a página pode resolver o problema',
					type: "error",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Ok"
				});
			}
		});
	};
</script>