@using TCC_Web.Models.DTOs.Login;


@model LoginDTO
@{
    Layout = "_LogedOutLayout";
    ViewData["Title"] = "Sing-Up";
}

<form asp-controller="Login" asp-action="SingUp" method="post">
    <div class="ibox">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Email *</label>
                    @Html.TextBoxFor(m => m.Email, new { Class = "form-control", Placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { Class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Senha *</label>
                    @Html.TextBoxFor(m => m.Password, new { Class = "form-control", Placeholder = "Senha", type = "password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { Class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="ibox" style="margin-top: 10px">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>